@import "../vars"
@import "header-mobile"
@import "nav-menu"

header
	background: $bg
	border-bottom: 8px solid $hr
	.header
		&__top
			position: relative
			padding: 14px 0
			background-color: $bg_grey-dark
			.container
				justify-content: space-between
				display: flex
				align-items: center
		&_bottom
			display: flex
			padding: 50px 0
//
//.authorize_wrap
//	margin-right: 36px

.socIcon




.nav-wrap
	display: flex
	justify-content: flex-start
	align-items: center
	flex-grow: 1
nav
	position: relative
	padding: 0
	line-height: 16px
	font-weight: 400
	margin-right: $mbL
	a
		color: $ff
		position: relative
		display: inline-block
		font-size: 13px
		transsition: color .25s
		&:after
			content: '|'
			//height: 32px
			top: -1px
			position: relative
			display: inline-block
			margin: 0 15px
		&:hover
			color: $red
			transsition: color .25s
			&:after
				color: $ff
		&:last-child
			&:after
				display: none
.sertif-link
	color: $ff
	position: relative
	&:hover:before
		content: ''
		//height: 32px
		background: $red
		bottom: -20px
		position: absolute
		display: inline-block
		width: 100%
		height: 2px
		margin: 0 15px

.contactUs
	width: 133px
	display: flex
	height: 100%
	align-items: center
	justify-content: space-between


.lang-wrapper select
	display: none
.jq-selectbox__select
	border: none
.jq-selectbox__select-text
	color: $ff
	background: $red
	font-size: 14px
.jq-selectbox__dropdown
	ul
		background: $bg_grey-dark
		color: $ff

.header__main
	height: 200px

	.logo


.phone__wrapper
	display: flex
	flex-direction: column
	justify-content: center
	figure
		display: inline-flex
		align-items: center
		justify-content: flex-start
		min-width: 150px
		margin-right: 30px
		height: 250px
		img
			width: 100%
			height: auto

	.phone__info
		height: 100%
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-between
		&>*
			margin: 0
		span
			font-size: 22px
.scadual__wrapper




	.bottom__menu
		font-size: 16px
		color: $bb

	.headbottom .search-wrapper button i
		top: 0
		position: relative
		right: 6px
		font-size: 20px
	.fa-search:before
		content: "\f002"
