@import "../vars"
@import "header-mobile"
@import "nav-menu"

header
	background: $bg
	&__top
		position: relative
		padding: 14px 0
		background-color: #e3f3fa

	&_bottom
		display: flex
		padding: 50px 0
//
//.authorize_wrap
//	margin-right: 36px