@import "vars"
.page-404
  padding: 50px 0
  &.container
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-bottom: 0 !important
    & > *
      margin-bottom: 30px
      position: relative

  h5
    max-width: 260px
    text-align: center
  figure
    max-width: 360px
    display: block
    img
      width: 100%
      height: auto
      position: relative
  &__link-wraper
    position: relative
    margin-bottom: 0!important
    img
      max-width: 100%
    a
      position: absolute
      top: 21%
      left: 20%
      text-decoration: none
    //&:after
    //  content: ''
    //  position: absolute
    //  right: 0
    //  top: 0
    //  width: 200px
    //  height: 200px
    //  display: block
    //  background: url("../img/bg-404-2.jpg") 0 0 no-repeat
    //&:before
    //  content: ''
    //  right: 50%
    //  top: 0
    //  width: 10px
    //  height: 300px
    //  border: none
    //  border-left: 1px dashed red
    //  border-right: 1px dashed red


