@import "vars"
@media (min-width: 576px)
	.col_sm
		&-1
			>*
				flex: 0 0 100%
				max-width: 100%
		&-2
			>*
				flex: 0 0 50%
				max-width: 50%
		&-3
			>*
				flex: 0 0 33.333333%
				max-width: 33.333333%
@media (min-width: 768px)
	.col_md
		&-1
			>*
				flex: 0 0 100%
				max-width: 100%
		&-2
			>*
				flex: 0 0 50%
				max-width: 50%
		&-3
			>*
				flex: 0 0 33.333333%
				max-width: 33.333333%
@media (min-width: 992px)
	.col_lg
		&-1
			>*
				flex: 0 0 100%
				max-width: 100%
		&-2
			>*
				flex: 0 0 50%
				max-width: 50%
		&-3
			>*
				flex: 0 0 33.333333%
				max-width: 33.333333%
		&-4
			>*
				flex: 0 0 25%
				max-width: 25%
//@media (min-width: 1200px)
//	.container
//		max-width: 1170px

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .desktop-menu
    max-width: 70%

  .cart__items
    padding:  0 20px $mbL 0


  .footer__common .container,
  .footer__suscribe .container
    padding: 0 10px
  .modal__wrap
    width: 96%
    padding: 30px 10px 30px
    &.modal_InCart
      padding: 30px 0 30px
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .btn-def
    font-size: 14px
  .cart__desktop .mob,
  .mobile-menu
    display: block
  .cart__desktop .desk,
  .minicart,
  .desktop-menu,
  .main__info
    display: none
  .header__main
    height: 130px
  .header__top
    display: none
  .mm-panels
    .mmenu__lang-wrapper
      display: flex

  .contacts
    .contacts__info
      padding: 0 30px 0 0

  .steps
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .step
      width: 29%
    button
      width: 50%
      align-items: center
      left: 25%
      top: 25px


  .footer__suscribe
    p
      font-size: 14px
    img
      margin-right: 10px
      width: 70px
    form
      input
        width: 50%
      button
        width: 45%
  .footer__about
    ul
      padding: 0 20px 0 0

  .modal__wrap
    padding: 45px 30px
  .modal__container
    width: 100%
  .modal__item
    figure.media-wrapper
      align-self: flex-start
      padding: 22px

  .modal_Item-wrap
    .slider_item
      flex-grow: 3



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .contacts
      flex-direction: column
      justify-content: flex-start
      align-items: center
      &>*
          width: 90%
          margin-bottom: $mbL

  .news
    article
      width: 100%
      &:after
        width: 100%
      &:nth-child(1),
      &:nth-child(2)
        &:before
          display: none


  .cart__table-bottom
    .delivery-wrap
      width: 65%
  .cart__items
    padding-right: 0
  .summ__block
    .summ__promo
      width: 43%
      padding: 15px

  .steps
    .step
      width: 46%
    button
      width: 50%
      align-self: flex-end
      left: 0
      top: 0



  footer
    background: #2c2f33
  .footer__info.contacts.contacts
      &>*
          margin-bottom: 15px
  .footer__about
    display: none

  .footer__suscribe
      .container
          flex-wrap: wrap
          height: auto
          padding: 10px
  .footer__suscribe
      img
          max-width: 120px
          margin: 10px
      form
          width: 100%
          input
              //width: auto
              //flex-grow: 1
              //margin-right: 10px
          button
              width: 130px
  .footer__info.contacts
    .contacts__info
      flex-direction: row
      flex-wrap: wrap
    .contacts__item
      padding: 0
      margin-bottom: 15px
      width: 50%
  .modal__wrap
    width: 96%
  .modal__item
    .info
      padding-left: 0
    figure.media-wrapper
      padding: 10px
      margin-right: 10px
    .item__name
      font-size:  16px

  .modal_Item-wrap
    .slider_item
      margin-bottom: $mb

  .modal_InCart
    .modal__content>.modal__container
      margin-bottom: 0
    .modal__btns
      padding: 30px
      .modal__container
        padding: 0
      button
        flex-grow: 1
        width: 51%
        margin-bottom: 10px





@media only screen and (max-width : 576px)
  h4
    font-size: 20px

  .header__main .logo
      margin-bottom: 10px
  .width_fx
      width: 220px
  .contacts__form
      form input
          width: 100%


  .cart__table header
    //display: none
  .cart__item
    padding: 15px 6px
    align-items: center
    flex-wrap: wrap
    &>*
      max-width: 48%
      align-self: center
      margin-bottom: 10px
    .remove-item
      bottom: auto
      top: 0px
  .cart__table-bottom
    flex-wrap: wrap
    .main_return,
    .delivery-wrap
      width: 100%
      &>span
        width: 60%
  .summ__block
    flex-direction: column
    height: auto
    width: 100%
    .summ__promo
      width: 100%
      margin-bottom: 15px
    .summ__table
      height: 150px


  .footer__suscribe
      .container
        padding: 20px 10px
      p
          padding-bottom: 10px
      img
          display: none
  .footer__info.contacts
      .contacts__item
          width: 100%
  .copyright__wrap.container
      flex-direction: column
      background: #2d3033
      height: auto
      min-height: auto
      position: relative
      justify-content: center
      align-items: center
      .copyright,
      .adsgroup
          text-align: center
          width: 100%
          justify-content: center
          padding: 0
      .adsgroup
          min-height: 35px
  .modal__wrap
    padding: 45px 15px 10px
    .modal__item
      &>*
        width: 100%
      figure.media-wrapper
        justify-content: center
        padding: 20px
        margin: 0
        margin-bottom: $mb
        img
          width: 80%
      .item__name
        padding: 10px 0
        margin: 0 0 10px
    h4
      font-size: 20px
    p
      text-align: center
    label p
      text-align: left
    .btn-def
      margin-bottom: 0

  .modal_Item-wrap
    .slider_item
      margin-bottom: $mb
      margin-right: 0
    .slider__btns
      right: 0
      bottom: 0
    .imgs-wrapper
      display: none


  .modal_InCart
    .modal__item
      figure
        max-width: 100%
        margin: 0
        margin-bottom: $mb
    .modal__btns
      border: none
      padding: 10px 30px 10px
      .modal__container
        flex-wrap: wrap
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  header
    .main__wrap
      flex-direction: column
      justify-content: center
      align-items: center
  .width_fx
    width: 200px
  .contacts
      &>*
          width: 96%
      .contacts__info
          padding-right: 0

  .news
    article
      figure
        min-width: 100px
        flex-direction: column

  .steps
    .step,
    button
      width: 100%

  .modal__wrap h4
    font-size: 18px

/*  iPad Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
	/**/

/*  iPad Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
	/**/