//@import "libs"

//@import "bourbon"
@import "vars"
//@import "fonts"
@import "components/grid"
@import "plugins/mMenu"
@import "plugins/form-styler"
@import "components/modal"
@import "components/form"
@import "components/buttons"
//@import "components/pagination"
//@import "components/rating"
@import "components/breadCrumbs"
@import "404"
@import "header/header"
@import "components/item"
@import "components/sliders"
@import "components/map"
@import "thank"
@import "sertificate"
@import "cartPage"
@import "news"
//@import "components/tabs"
@import "footer/footer"


*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  font-size: 14px
  min-width: 320px
  background: $bg
  position: relative
  line-height: 1.4
  font-family: $f-mon
  overflow-x: hidden
  opacity: 1

ul, ol, menu
  list-style: none

a
  color: $red
  text-decoration: none
  &:hover
    text-decoration: none
    outline: none
  &:focus
    outline: none

h1, h2, h3, h4, h5, h6
  font-weight: 600
  text-transform: uppercase
  color: $f-color
  line-height: 1.4
  margin-bottom: 25px
h1
  font-size: 30px
h2
  font-size: 48px
h3
  font-size: 30px
  text-transform: none
  color: $bb
h4
  font-size: 24px
  color: $bb

h5
  font-size: 16px
  text-transform: none
  color: #818181
h6
  font-size: 16px
  text-transform: none
  font-weight: 400

p, figcaption
  font-weight: 300
  font-size: 14px
  line-height: 1.6
  color: $text
  margin-bottom: 25px
label
  p
    margin: 0 0 5px
  input
    border-radius: 0
    color: #818181
    padding: 0 12px

main
  flex-grow: 1

.num-list
  display: flex
  flex-direction: column
  counter-reset: item
  li
    position: relative
    padding: 6px 0 6px 29px
    &:before
      content: counter(item)'.'
      counter-increment: item
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      font: 700 14px/16px
      color: $bb

.hidden
  display: none

.title-hr
  font-size: 18px
  text-transform: none
  font-weight: 700
  padding-top: 12px
  margin: 0 0 $mb 0
  position: relative
  width: 100%
  border-bottom: 1px solid $hr
  padding-bottom: 12px


//  contacts page start
.contacts
  display: flex
  justify-content: space-between
  align-items: flex-start
  &>*
    width: 50%
    flex-grow: 1
  &__info
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    padding: 0 90px 0 0
  &__form
    label
      color: #818181
      font-size: 12px
      display: block
      p
        //margin-bottom: 0

.contacts__item
  display: flex
  align-items: center
  justify-content: flex-start
  padding: $mb 10px $mb 0
  border-bottom: 2px solid $hr
  width: 100%
  &:first-of-type
    padding-top: 0
  img
    padding:  0 15px 0px 0px
  span
    color: $bb
    display: block
  .contacts__item-title
    color: $a-color




//  contacts page end




// must be the last
@import "media"
