@import "vars"


.container.thank
  padding: 70px 0
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  & > *
    margin-bottom: $mbL
    position: relative
  h4
    color: $h4-color
    margin-top: 0
  h6
    padding: 10px
    margin-top: 0
    max-width: 350px
    text-align: center
    color: $f-color_footer-dark
  .thank__link-wraper
    a
      text-decoration: none



