@import "../vars"

.btn-def
	position: relative
	width: auto
	font-family: $f-mon
	font-weight: bold
	font-size: 16px
	color: $ff
	text-transform: uppercase
	background: $red
	z-index: 1
	border: none
	outline: none
	height: 40px
	border-radius: 0
	padding: 0 25px
	cursor: pointer
	line-height: 2

	display: flex
	justify-content: center
	align-items: center
	transition: background $t1
	&:hover
		transition: background $t1
		background: $bb
		color: $ff
	&_dark
		background: $butt
		color: #ffffff
	&_md
		width: 160px


