@import "../vars"

.item
  figure
    width: 80%
    margin: 0 auto
  figcaption
    color: $f-color_footer-dark
    font-size: 14px
  &__info
    display: flex
    justify-content: space-between
    align-items: center
  &__price
    font-size: 17px
    color: #000000



