@import "../vars"

.items-wrapper
  margin-bottom: $mbL
.card
  background: $ff
  padding: 20px
  margin-bottom: $mbL
  a
    text-decoration: none
  figure
    margin: 0 auto $mb
    img
      width: 80%
      margin: 0 auto 20px
  figcaption
    color: $f-color_footer-dark
    font-size: 14px
    line-height: 1.4
    width: 80%
    text-decoration: none
    max-height: 58px
    overflow-y: hidden
    margin-bottom: 12px
  &__info
    display: flex
    justify-content: space-between
    align-items: center
  &__price
    padding-left: 10px
    font-size: 17px
    color: $mainCOLOR
    .amount
      font-size: 17px



