@import "../vars"

.modal
	&__wrap
		width:  1140px
		height: auto
		background: #f9f9f9
		top: 0
		bottom: auto
		display: none
		opacity: 0
		z-index: 12
		padding: 40px 60px
		box-shadow: 0 0 25px rgba(68, 60, 34, 0.3)
		margin: 0 auto 40px
		position: relative
	&__content
		display: flex
		flex-direction: column
		align-items: center
		> *
			margin-bottom: 20px
		h4
			color: $bb
		p
			color: $f-color_footer-dark
	&__overlay
		margin-right: -15px
		z-index: 11
		position: fixed
		background-color: rgba(35, 45, 53, .5)
		filter: alpha(opacity=80)
		width: 100%
		height: 100%
		top: 0
		left: 0
		cursor: pointer
		display: none
		overflow-y: auto
		overflow-x: hidden
	&_open
		overflow: hidden
		max-width: 99.15%
		margin-right: 0


.modal
	&__close
		position: absolute
		display: block
		cursor: pointer
		right: 15px
		top: 10px
		font-size: 33px
		line-height: 1
		z-index: 2
		color: black
		padding: 0
		opacity: .7
		transition: opacity .3s
		&:hover
			opacity: 1
			transition: opacity .3s



//.closeModalIcon
//	position: absolute
//	display: block
//	cursor: pointer
//	right: 5px
//	top: 5px
//	width: 18px
//	height: 18px
//	font-size: 14px
//	z-index: 2
	//transition: all .25s
	//&:before
	//	content: ''
	//	display: block
	//	position: absolute
	//	left: 0
	//	width: 21px
	//	height: 4px
	//	background-color: rgba(0, 0, 0, 1)
	//	transition: all .25s
	//	transform-origin: 1px 2px
	//	top: 0
	//	transform: rotate(45deg)
	//&:after
	//	content: ''
	//	display: block
	//	position: absolute
	//	left: 0
	//	width: 21px
	//	height: 4px
	//	background-color: rgba(0, 0, 0, 1)
	//	transition: all .25s
	//	transform-origin: 0 2px
	//	bottom: 0
	//	transform: rotate(-45deg)
	//&:hover
	//	transform: rotate(180deg)
	//	&:before
	//		transform-origin: 2px 4px
	//		background-color: rgba(0, 0, 0, .7)
	//	&:after
	//		transform-origin: 1px 0
	//		background-color: rgba(0, 0, 0, .7)


.modal
  &__container
    width: 80%
    margin: 0 auto 30px
    display: block
  &__title
    display: block
  &__item
    display: flex
    flex-direction: column
    justify-content: center
    figure
      display: inline-flex
      align-items: center
      justify-content: flex-start
      min-width: 150px
      margin-right: 30px
      height: 250px
      img
        width: 100%
        height: auto
    .item__name
      padding: 20px 0
      margin: 0 0 40px
      position: relative
      &:after
        content: ''
        display: block
        position: absolute
        bottom: -20px
        left: 0
        width: 100%
        height: 1px
        background: $hr
    .info
      height: 100%
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      &>*
        margin: 0
      h4
        font-weight: bold
      span.price
        font-size: 22px
  &__btns
    border-top: 4px solid $hr
    width: 100%
    margin: 0 0 30px
    .modal__container
      justify-content: space-between
      align-items: center
      &>*
        flex-grow: 1
        width: 50%


#modal_thankAnswer
  max-width: 720px

#modal_fastBuy
  .modal__item
    figure
      display: inline-flex
      align-items: center
      justify-content: flex-start
      min-width: 150px
      margin-right: 30px
      height: 350px
      img
        width: 100%
        height: auto



#modal_ItemWindow
  .slider_item
  .slider
    margin-right: 30px
  .img-wrapper
    margin-right: 30px
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 100px
    figure
      display: inline-flex
      align-items: center
      justify-content: flex-start
      min-width: 150px
      margin-bottom: 25px
      width: 100%
      height: 100px
      img
        width: 100%
        height: auto

